<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="backHref"></ion-back-button>
    </ion-buttons>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [value]="activeTab" (ionChange)="selectTab($any($event.detail.value))">
    <ion-segment-button value="expense">
      <ion-label>Expense</ion-label>
    </ion-segment-button>
    <ion-segment-button *ngIf="!restrictToExpense" value="income">
      <ion-label>Income</ion-label>
    </ion-segment-button>
    <ion-segment-button *ngIf="!restrictToExpense" value="debtLoan">
      <ion-label>Debt/Loan</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list lines="full" class="categories-list" *ngIf="!isLoading && !loadError">
    <ng-container *ngFor="let category of categories">
      <ion-item button detail="false" class="tree-parent" (click)="onCategoryClick(category.id)">
        <ion-icon slot="start" [name]="getCategoryIcon(category.icon)" class="parent-icon"></ion-icon>
        <ion-label>{{ category.name }}</ion-label>
        <ion-icon
          *ngIf="!isSelectMode"
          slot="end"
          class="toggle-icon"
          [name]="isExpanded(category.id) ? 'chevron-down-outline' : 'chevron-forward-outline'"
        ></ion-icon>
      </ion-item>

      <ng-container *ngIf="isExpanded(category.id)">
        <ion-item
          button
          detail="false"
          lines="none"
          class="tree-child"
          *ngFor="let subCategory of category.children"
          (click)="onSubCategoryClick(subCategory.id)"
        >
          <ion-icon slot="start" name="return-down-forward-outline" class="branch-icon"></ion-icon>
          <ion-icon slot="start" [name]="getCategoryIcon(subCategory.icon)" class="child-icon"></ion-icon>
          <ion-label>{{ subCategory.name }}</ion-label>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>

  <div class="loading-state" *ngIf="isLoading">
    <ion-spinner name="crescent"></ion-spinner>
    <span>Loading {{ getCurrentTabLabel() }} categories...</span>
  </div>
  <div class="status status-error" *ngIf="loadError">{{ loadError }}</div>
</ion-content>
