<app-page-header
  title="My Wallets"
  [translucent]="true"
  [showBack]="true"
  backHref="/tabs/settings"
></app-page-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="!isLoading" lines="full">
    <ion-item *ngFor="let wallet of wallets">
      <ion-icon slot="start" name="wallet-outline"></ion-icon>
      <ion-label>
        <h2>{{ wallet.name }}</h2>
        <p>{{ wallet.wallet_type === 'wallet' ? 'Basic Wallet' : wallet.wallet_type }}</p>
      </ion-label>
      <ion-note slot="end">{{ formatBalance(wallet) }}</ion-note>
    </ion-item>
  </ion-list>

  <div class="loading-state" *ngIf="isLoading">
    <ion-spinner name="crescent"></ion-spinner>
    <span>Loading wallets...</span>
  </div>
</ion-content>

<ion-modal [isOpen]="isCreateOpen" (didDismiss)="closeCreateWallet()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="closeCreateWallet()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Create Wallet</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <form (ngSubmit)="submitCreateWallet()" class="wallet-form">
        <ion-item>
          <ion-label position="stacked">Wallet Type</ion-label>
          <ion-select [(ngModel)]="walletType" name="walletType" interface="popover">
            <ion-select-option value="basic">Basic Wallet</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Wallet Name</ion-label>
          <ion-input [(ngModel)]="walletName" name="walletName" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Unit</ion-label>
          <ion-input [(ngModel)]="currencyUnit" name="currencyUnit" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Initial Balance</ion-label>
          <ion-input
            type="text"
            inputmode="numeric"
            [(ngModel)]="initialBalance"
            (ngModelChange)="onInitialBalanceChange($event)"
            (ionBlur)="onInitialBalanceBlur()"
            name="initialBalance"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>
            <h3>Enable notification</h3>
            <p>Get notified when there are changes to this wallet's transactions.</p>
          </ion-label>
          <ion-toggle slot="end" [(ngModel)]="notificationsEnabled" name="notificationsEnabled"></ion-toggle>
        </ion-item>

        <ion-button expand="block" type="submit" [disabled]="!canCreateWallet">
          <ion-spinner slot="start" name="crescent" *ngIf="isSaving"></ion-spinner>
          {{ isSaving ? 'Saving...' : 'Create Wallet' }}
        </ion-button>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
