<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transactions" href="/tabs/transactions">
      <ion-icon aria-hidden="true" name="time-outline"></ion-icon>
      <ion-label>Transaction</ion-label>
    </ion-tab-button>

    <ion-tab-button class="add-tab" href="/expense">
      <ion-icon aria-hidden="true" name="add"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="budgets" href="/tabs/budgets">
      <ion-icon aria-hidden="true" name="wallet"></ion-icon>
      <ion-label>Budgets</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="person-circle"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
